<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<div class="form-group">
		<%= f.collection_select :sxoleio_id, Sxoleio.all, :id, :name, {promt: "Διάλεξε Σχολείο"}, {class: "form-control"} %>
	</div>
	<div class="form-group">	
		<%= f.text_area :title, placeholder: "I want to tell that", class: "form-control form-style", maxlength: 1000 %>
	</div>
	<h4 class="text-muted"><small>*max 1000 chars</small></h4><br/>
	<%= f.button :submit, "Υποβολη" %>

<% end %>