<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<div class="form-group">
		<%= f.collection_select :sxoleio_id, Sxoleio.all, :id, :name, {promt: "Διάλεξε Σχολείο"}, {class: "form-control"} %>
	</div>
	<div class="form-group">	
		<%= f.text_area :title, placeholder: "I want to tell that", class: "form-control form-style", maxlength: 80 %>
	</div>
	<h6 class="text-muted">*max 80 chars</h6><br/>
	<%= f.button :submit %>
	<br>
<% end %>