<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<%= f.collection_select :sxoleio_id, Sxoleio.all, :id, :name, {promt: "Dialekse sxoleio"}, {class: "form-control"} %>
	<%= f.input :title, label: "I want to tell that:" %>
	<h6>max 80 chars</h6><br/>
	<%= f.button :submit %>
	<br>
<% end %>