<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<div class="form-group">	
		<%= f.text_area :title, placeholder: "Το μυστικό σας εδώ", class: "form-control form-style", maxlength: 1000 %> <br>Checkin:
		<%= f.text_area :description, placeholder: "πχ Τμήμα Πολιτικών Μηχανικών, Κυλικείο, κλπ", class: "form-control form-style", maxlength: 1000 %>
	</div>
	<h4 class="text-muted"><small>*max 1000 chars</small></h4><br/>
	<%= f.button :submit, "Υποβολή" %>

<% end %>