  	<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="assets/profile.png" alt="">
                    <div class="intro-text">
                        <h2 class="name">Tell your secret...Public!</h2>
                        <h5>now in ptolemais</h5>
                        <%= link_to "New Secret", new_secret_path, class: "btn btn-default" %>
                        </div>
                </div>
            </div>
        </div>
    </header>