<% @secrets.each do |secret| %>
  <blockquote>
		<h2>
		<% if user_signed_in? %>
			“<%= link_to secret.title, secret %>”
		<% else %>
			“<%= secret.title %>”
		<% end %>
			<%# ayto na to valw mono se kapoion admin poy einai log in %>
    </h2>
  </blockquote>
<% end %>  
<%= link_to "New Secret", new_secret_path, class: "btn btn-primary" %>



<% @secrets = Secret.paginate(:per_page => 7, :page => params[:page] ) %>
<%= will_paginate %>