/*Animate effects*/
.slideInDown{
	-moz-animation-duration: 1.7s;
	-moz-animation-delay: 0.7s;
}
.fadeInLeft, .fadeInRight{
	-moz-animation-duration: 1.2s;
	-moz-animation-delay: 0.5s;
}
.flipInX{
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0.5s;
}
.fadeIn{
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.7s;
}
.fadeInUp{
	-moz-animation-duration: 1.2s;
	-moz-animation-delay: 0.3s;
}
/*Animate effects*/

html,body{
	margin: 0; 
	padding: 0; 
	height: 100%;
}
body{
	overflow-x: hidden;
}
p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
form{
	padding: 20px 0 30px 0;
}
section{
	padding: 30px 0 30px 0;
}
hr{
	border: 2px solid #79F7FD; 
	width: 150px;
}
h1,h2,h3,h4,h5,h6{
	color: #171B24;
	/*text-transform: uppercase;*/
	font-family: 'Raleway', sans-serif; 
	font-weight: 900;
}
h1{
	font-size: 45px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #FC4349;
}
a {
    color: #FC4349;
}

::-moz-selection {
    text-shadow: none;
    background: #FC4349;
}

::selection {
    text-shadow: none;
    background: #FC4349;
}

.img-responsive{display: inline;}

.navbar-default{
	background-color: #171B24;
	border: none;
	margin-bottom: 0;
	transition: 0.3s ease-in-out;
}
.change-bg{
	background-color: #171B24;
}
.logo{
	height: 65px;
	width: auto;
}
.navbar{
	border-radius: 0;
}
.navbar-right{
	margin-right: 40px;
}
.navbar a img{
	margin-top: -10px;
	margin-left: 180px;
}
.navbar-nav li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a{
	color: #79F7FD;
	/*text-transform: uppercase;*/
	font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover i{
	color: #FC4349;
}
.navbar-default .navbar-nav > li > a:focus{
	color: #79F7FD;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
	background-color: #171B24;
	border-bottom: solid 3px #FC4349;
	color: #fff;
}
/*MENU HOVER EFFECT */
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #FC4349;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after{
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*END MENU HOVER EFFECT */

/*NAVBAR-TOGGLE*/
.navbar-default .navbar-toggle{
	border-color: #79F7FD;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
	background-color: #79F7FD;
}
/*Header*/
header{
	min-height: 250px;
	text-align: center;
	background-color: #171B24;
}
header h2{
	margin-top: 90px;
	/*line-height: 250px;*/
	font-size: 45px;
	color: #79F7FD;
	font-family: 'Oswald', sans-serif;
}
header p{
	padding: 10px 35px 30px 35px;
	font-size: 20px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
/*.header-bg{
	top: 0;
	width: 100%;
    height: 100%;
    background-color: rgba(23, 27, 36, 0.7);
    background-image: url(../img/pattern.png);
	background-repeat: repeat;
}*/
.header-content{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
}
/*SLIDER*/
/*.slides-navigation i{
	color: #79F7FD;
	margin: 0 20px;
}
.slides-pagination a{
	font-size: 0;
	border: 2px solid #79F7FD;
	width: 15px;
	height: 15px;
	margin-bottom: 15px;
}
.slides-pagination a.current{
	background: #79F7FD;
}*/

/*BUTTONS*/
header .btn-default:hover,
header .btn-default:focus,
.offers .btn-default:hover,
.offers .btn-default:focus{
	background-color: transparent;
	border: 1px solid #FC4349;
}
.btn:focus{
	outline: none;
}
.btn-default{
	background-color: #FC4349;
	border: 1px solid #FC4349;
	color: #fff;
	font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
	transition: 0.4s ease-in-out;

}
.btn-default:hover,
.btn-default:focus{
	border: 1px solid #FC4349;
	background-color: #171B24;
	color: #FC4349;
}

/*Main Content*/
.main-content h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}
#services{
	background-color: #F0F0F0;
}
#services p{
	padding-left: 20px;
}
#services i{
	margin-top: 20px;
	transition: 0.2s ease-in-out 0s;
	font-size: 3.5em;
	color: #171B24;
}
#services i:hover{
	color: #FC4349;
	cursor: default;
}

#portfolio{}
.portfolio-item{
	padding: 0 5px;
	margin: 5px auto;
	max-width: 380px;
}
.portfolio-hover{
	display: inline;
    margin: 0 auto;
	position: absolute;
	width: 98%;
	height: 100%;
	opacity: 0;
	background: rgba(23,27,36,.9);
	-webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.portfolio-hover:hover{
	opacity: 1;
}
.portfolio-hover .options{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -32px;
	text-align: center;
	font-size: 20px;
}
.portfolio-hover .options a i{
	color: #79F7FD;
	border: 1px solid #79F7FD;
	width: 65px;
	height: 65px;
	margin: 0 5px;
	line-height: 65px;
}
.portfolio-hover .options a i:hover{
	color: #FC4349;
	border: 1px solid #FC4349;
}
.portfolio-hover .options a:hover{
	text-decoration: none;
}
/*Modal*/
.modal{
	padding-right: 0!important;
}
.modal-content{
	background-color: #fafafa;
	padding: 65px 0 30px 0;
	width: 100%;
	min-height: 100%;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	text-align: center;
}
.modal-content h2{
	font-size: 3em;
}
.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*fix for chrome*/
.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
/*==============*/

#secrets{
	background-color: #fcfcfc;
}
.secret{
	border-bottom: 2px solid #FC4349;
	background-color: #fff;
}
.secret p{
	padding: 0 35px;
}
.secret h5{
	padding: 5px 0;
	margin: 5px 15px;

}
.school{
	font-size: 13px;
}

#team{
	background-color: #f7f7f7;
}
#team .caption{
	background-color: #fff;
	border-bottom: 3px solid #FC4349;
	max-width: 360px;
	margin: 0 auto;
}
.team-hover{
	position: absolute;
	margin: 0 auto;
	max-width: 360px;
	height: 100%;
	opacity: 0;
	left: 0;
	right: 0;
	background: rgba(23,27,36,.9);
	-webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.team-hover:hover{
	opacity: 1;
}
.team-hover .content-hover{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 20px;
}
.team-hover .content-hover a{color: #79F7FD;}
.team-hover .content-hover a:hover{
	color: #FC4349;
	text-decoration: none;
}
.skills{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.skills p{color: #fff;}
.progress{
	height: 25px;
	border-radius: 0;
}
.progress-bar{
	background-color: #FC4349;
	line-height: 24px;
}
.social li{
	display: inline;
}
.social ul{
	padding-left: 0;
}
.social i{
	color: #79F7FD;
	border: 1px solid #79F7FD;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin: 60px 15px 0 15px;
}
#statistics{
	background-color: #171B24;
	color: #79F7FD;
}
#statistics i{
	margin-top: 10px;
}
#statistics h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #79F7FD;
}
#statistics h3{
	font-family: 'Oswald', sans-serif;
	color: #79F7FD;
}
#about{
	background-color: #171B24;
	color: #79F7FD;
}
#about h1,h2{
	color: #79F7FD;
}
.middle{
	display : table-cell;
    vertical-align : middle;
	float: none;
    height : 300px;
}

#testimonials{
	background-color: #FC4349;
}
#testimonials blockquote{
	border-left: none;
}
#testimonials span{
	font-family: 'Oswald', sans-serif;
	font-size: 22px;

}
#testimonials p{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-style: italic;
}
#testimonials .owl-theme .owl-controls .owl-page span{
	background: none repeat scroll 0 0 #79F7FD;
}

#pricing{
	text-align: center;
}
#pricing .offers{
	color: #fff;
	box-shadow: 5px 8.7px 10px rgba(0, 0, 0, 0.08);
	padding-bottom: 40px;
	margin-bottom: 40px;
	transition: 0.5s ease-in-out 0s;
}
#pricing .offers h3{
	padding: 30px 0;
}
#pricing .offers .price{
	background: #FC4349;
	padding: 20px 0;
	font-size: 24px;
	font-family: "Raleway", sans-serif;
	font-weight: 900; 
}
#pricing .offers .price sup{
	font-size: 13px;
	font-family: "Open Sans", sans-serif; 
	text-transform: uppercase;
	font-weight: 400;
}
#pricing .offers .price span{
	font-weight: 400;
	font-family: "Open Sans", sans-serif; 
}
#pricing .offers ul{
	list-style: none;
	padding: 20px 0;
}
#pricing .offers li{
	margin-bottom: 15px;
	color: #888;
}
#pricing .offers:hover{
	background-color: #171B24;
}
#pricing .offers:hover h3,
#pricing .offers:hover li{
	transition: 0.5s ease-in-out 0s;
	color: #fff;
}

#clients{
	background-color: #f7f7f7;

}
#clients img{
	filter: grayscale(1);
	transition: 0.3s ease-in-out 0s;
}
#clients img:hover{
	filter: grayscale(0);
	transition: 0.3s ease-in-out 0s;
}

#map{
	width: 100%;
	height: 400px;
}
#contact .help-block{
	color: #FC4349;
	font-size: 14px;
}
#contact .alert-success {
    border-color: #FC4349;
    color: #171B24;
    background-color: none; 
}

/*form*/
.form-style{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  height: 75px;
  border-color: #EAEAEA;
  box-shadow: none;
}
.form-control:focus{
	box-shadow: none;
	border-color: #FC4349;
}

/*Contact info*/
.contact-info{
	margin-left: 40px; 
}
.contact-info i{
	font-size: 1.4em;
	padding-left: 10px;
	position: absolute;
	padding-top: 2px;
	left: 0;
}
.contact-info p{
	padding-left: 30px;
}
.contact-info hr{
	margin-left: 0;
	width: 260px;
	border: 1px solid #FC4349;
}

.pagination > li > a, .pagination > li > span{
	background-color: #171B24;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
	background-color: #171B24;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
	background-color: #79F7FD;
}

/*Footer*/
footer{
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #171B24; 
}
footer img{
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FC4349;
}
footer h3{
	color: #79F7FD;
	text-transform: none;
}
footer .social i{
	margin: 20px 10px;
	font-size: 20px;
}
footer i:hover{
	color: #FFF;
	background-color: #79F7FD;
	font-size: 20px;
}

@media (max-width: 1200px){
	.navbar a img{
		margin-left: 0;
	}
}
@media (max-width: 768px){
	h1,h2,h3,h4,h5,h6{
		font-size: 30px;
	}
	.logo{
		height: 30px;
		width: auto;
	}
	.navbar-default .navbar-nav>li>a{
		text-align: center;
	}
	header h2{
		font-size: 28px;
	}
	header p{
		font-size: 15px;
		padding: 7px 35px;
	}
	header i{
		font-size: 20px!important;
	}
	.btn-default{
		font-size: 15px;
    	padding: 10px 20px;
	}
}
