<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#"><img src="img/logo.png" class="logo" alt="mistiko"></a> -->
            <%= link_to(image_tag("profile.png", class: "logo", alt: "", title: "Home"), root_path, class: "navbar-brand page-scroll") %>
        </div>

  <!-- NAV LINKS -->
        <!-- Collect the nav links, forms, and other content for toggling -->
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "New Secret", new_secret_path %>
              </li>
              <li>
                <%= link_to "Account", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% end %>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
